{% extends "base/base.html" %}

{% block contenido %}

    <div class="row">
	<div class="blog-main">
    <h1 style="margin: 50px;">Ultimas Novedades</h1>
		<!--<h3 class="pb-3 mb-4 font-italic border-bottom">
			Lista de Productos
		</h3>-->

		<!-- Agregar lista de productos -->
		<!--<h1>Hola {{nombre_usuario}}</h1>-->

		<div class="row mb-2">
			{% for p in ultimos_productos %}
				<div class="col-md-6">
					  {% include "productos/includes/bloque_producto.html" %}
				</div>
			{% empty %}
				<li>No existen productos</li>
			{% endfor %}
		</div>

	</div><!-- /.blog-main -->
</div>
{% endblock contenido %}